@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    padding: auto;
}
.button{
    color: black;
}
.add-category{
   text-align: center;
   font-size: 29px;
   padding: 9px;
}
#form{
    border: solid rgb(150, 136, 136) 1px;
    border-radius: 9px;
    padding: 15px;
    background-color: aliceblue;
}
.list_category_active{
    margin-bottom: 5px;
    color: rgb(40, 153, 190);
    
}
.list_category_delete{
    margin-bottom: 5px;
    color: rgb(216, 31, 31);
    
}