/* @tailwind base;
@tailwind components;
@tailwind utilities; */

body{
    
}
#user_table{
    margin: 15px;
}
.button{
    color: black;
}
.add-category{
   text-align: center;
   font-size: 29px;
   padding: 9px;
}
.list_category_active{
    margin-bottom: 5px;
    color: rgb(40, 153, 190);
    
}
.list_category_delete{
    margin-bottom: 5px;
    color: rgb(216, 31, 31);
    
}
#form{
    margin-top: 25px;
    border: solid rgb(150, 136, 136) 1px;
    border-radius: 9px;
    padding: 15px;
    background-color: rgb(214, 229, 243);
}
#password_form{
    margin-top: 25px;
    border: solid rgb(150, 136, 136) 1px;
    border-radius: 9px;
    padding: 15px;
    background-color:blanchedalmond;
}
#active_table{
    border: solid rgb(245, 238, 238) 1px;
    border-radius: 5px;
    padding: 15px;
    background-color:rgb(224, 238, 238);
}
#deleted_table{
    border: solid rgb(240, 230, 230) 1px;
    border-radius: 5px;
    padding: 15px;
    background-color:rgb(241, 220, 220);
}